$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints,$size)) {
    @content;
  }
}

@mixin breakpoint-down {
  @media (max-width: 767px) {
    @content;
  }
}
